body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.relative ::backdrop {
  position: relative;
  background-color: white;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
}
.header {
  margin: 30px 0;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.logo__container {
  display: flex;
  flex-direction: row;

  align-items: center;
}
.logo {
  width: 100px;
  height: 100px;
}
.name {
  font-size: 40px;
  font-weight: bold;
  width: 250px;
  white-space: nowrap;
}
.info {
  text-align: right;
  padding-right: 17px;
}
.header__top__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 17px;
  margin-right: 17px;
}
.header__bottom__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 17px;
  margin-right: 17px;
}

.header__categories {
  display: flex;
  gap: 30px;
}
.header__category {
  font-size: 20px;
  font-weight: bold;
  background: none;
}
.header__category:hover {
  color: rgb(245, 136, 12);
}
.header__button {
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(245, 136, 12);
  border-radius: 20px;
  padding: 10px 30px;
  color: white;
}
.header__search {
  font-size: 15px;
  font-weight: bold;
  background: none;
  display: flex;
  justify-content: flex-end;
}
.search__input {
  border: 2px solid rgb(245, 213, 177);
  border-right: none;
  padding: 5px 20px;
  /* border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; */
}
.button__search {
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(245, 136, 12);
  background-color: rgb(245, 136, 12);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0px 13px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.select__container {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

#limit {
  color: rgb(245, 136, 12);
  font-size: 15px;
}
#sort__by {
  color: rgb(245, 136, 12);
  font-size: 15px;
}

.main {
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 550px;
}
.product__top {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product__img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.product__title {
  font-size: 22px;
  font-weight: bold;
}
.product__description {
  font-size: 18px;
  color: rgb(105, 104, 104);
}
.product__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__price {
  font-size: 22px;
  font-weight: bold;
}
.product__btn {
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(243, 232, 220);
  border-radius: 20px;
  padding: 10px 30px;
  color: rgb(245, 136, 12);
}
.cart {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.356);
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0.3s;
}
.cart__container {
  width: 540px;
  height: 100%;
  position: absolute;
  gap: 10px;
  top: 0px;
  right: -100%;
  display: flex;
  transition: all 0.3s ease 0s;
  align-items: center;

  z-index: 1;
}
.cart__open {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease 0s;
}
.cart__open .cart__container {
  right: 0%;
  transition: all 0.3s ease 0.3s;
}
.cart__content {
  height: 100%;
  width: 100%;
  background-color: white;
}

.empty__cart {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.img__empty__cart {
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.title__cart {
  font-size: 30px;
  font-weight: bold;
  background: none;
}
.text__cart {
  font-size: 18px;
  font-weight: 500px;
  text-align: center;
}
.full__cart {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container__gray {
  background-color: rgb(232, 232, 232);
  width: 100%;
  height: 80px;
  font-size: 30px;
}
.number__of__selected__products {
  padding: 30px 20px;
  font-weight: 700px;
}
.cart__product {
  width: 100%;
}
.info__of__products {
  display: flex;

  padding: 10px;
}
.info__of__products__left {
}
.info__of__products__right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.photo__cart {
  width: 80px;
  height: 80%;
  margin-right: 10px;
}
.title__cart {
  font-weight: bold;
}
.description__cart {
  color: rgb(105, 104, 104);
  font-size: 16px;
}

.product__quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px;
}
.quantity__container {
  display: flex;
  align-items: center;
  color: rgb(78, 75, 75);
  font-size: 25px;
  border-radius: 15px;
  height: 30px;
  padding: 5px 20px;
  gap: 15px;
  background-color: rgb(198, 195, 195);
}

.less {
  background: none;
  font-size: 35px;
}
.quantity {
  text-align: center;
}
.more {
  background: none;
  font-size: 25px;
}
.p__order__amount {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.span__order__amount {
}
.btn__cart {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(245, 136, 12);
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  align-self: center;
}
.order__bottom {
  padding: 20px;
}

.btn__close__cart {
  font-size: 50px;
  color: white;
  background: none;
}
.hide {
  display: none;
}
