body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.header {
  margin: 30px 0;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__categories {
  display: flex;
  gap: 30px;
}
.header__category {
  font-size: 20px;
  font-weight: bold;
  background: none;
}
.header__button {
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(244, 192, 96);
  border-radius: 5px;
  padding: 10px 30px;
}
.main {
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 450px;
}
.product__top {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product__img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.product__title {
  font-size: 22px;
  font-weight: bold;
}
.product__description {
  font-size: 18px;
  color: rgb(105, 104, 104);
}
.product__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__price {
  font-size: 22px;
  font-weight: bold;
}
.product__btn {
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(244, 192, 96);
  border-radius: 5px;
  padding: 10px 30px;
}
